<!--Main document of web page goes here -->
<!DOCTYPE HTML>
<!--Default HTML language to english -->
<html lang="en">

<!--Head of the Webpage-->
<head>

    <link rel="stylesheet" type="text/css"  href="../Styles/styles2.css">
    <!--Title of the Webpage-->

    <title>
        Employee Form
    </title>

    <!--Style is used to write CSS styles on the html -->
    <style type="text/css">

    </style>

    <!--Script is used to write Javascript in html -->
    <script type="text/javascript"></script>

    <!--Link is used to link an external source it may be either Javascript or CSS-->
    <link rel="stylesheet" type="text/css" href="">

    <!--Base is used to specify the base URL -->
    <base>

    <!--Meta is used to describe more meta information which are not covered by body and other head -->

    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="Description" content="This is application form is for candidates who are looking for a new opportunity in Front-end Development"/>
    <meta name="keywords" content="Employee Form,FrontEndDevelopment,UI/UX Developer,AngularJS Developer,ScrumMaster,BusinessAnalyst, Tester"/>
    <meta charset="UTF-8"/>
</head>

<!--Body of the webpage goes here -->
<body>

<!--Main article for forms-->
<article>

    <!--Page header -->
    <header>
        <h1>Fill this application form</h1>
    </header>

    <!--Main body of webpage -->
    <section>

        <!--employeeForm -->
        <form name="employeeForm">

            <!--First Name -->

            <label for="firstName">Enter your Firstname :</label>
            <input type="text" id="firstName" name="firstName" placeholder="Aky">



            <!--Last Name -->

            <label for="lastName"> Enter your Lastname :</label>
            <input type="text" id="lastName" name="lastName" placeholder="why">



            <!--Gender -->

            <label for="gender">Applicants Gender :</label>
            <div id="gender">
                <label for="male">Male</label>
                <input type="radio" id="male" name="gender" value="Male">
                <label for="female">Female</label>
                <input type="radio" id="female" name="gender" value="Female">
                <label for="other">Other</label>
                <input type="radio" id="other" name="gender" value="Other">
            </div>



            <!--Mobiel Number-->

            <label for="phonenumber">Mobile Number :</label>
            <input type="tel" id="phonenumber" name="phonenumber" placeholder="(555) 555-5555">



            <!--Email and Password Fields -->

            <label for="eMail">Email :</label>
            <input type="email" id="eMail" name="eMail" placeholder="someone@example.com">
            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" placeholder="**********">



            <!--Different types of positions applicant looking for, used checkbox -->

            <h4> New Opportunity</h4>
            <label for=" opportunity">Check all that apply</label>
            <div id="opportunity">
                <label for=" AngularJS Developer">Scrum Master</label>
                <input type="checkbox" id="AngularJS Developer" name="jobLookingFor" value="AngularJS Developer">
                <label for="businessAnalyst">Business Analyst</label>
                <input type="checkbox" id="businessAnalyst" name="jobLookingFor" value="businessAnalyst">
                <label for="Product Manager"> Product Manager</label>
                <input type="checkbox" id="Product Manager" name="jobLookingFor" value=" Product Manager">
                <label for="UiUxDesigner">UI/UX Designer</label>
                <input type="checkbox" id="UiUxDesigner" name="jobLookingFor" value="UiUxDesigner">
                <label for="Web Developer"> Web Developer</label>
                <input type="checkbox" id=" WebDeveloper" name="jobLookingFor" value="Web Developer">
            </div>



            <!--Submit Button -->
            <button type="submit" id="submit">
                <span>Submit</span>
            </button>

            <!--Reset/Cancel Button -->
            <button type="reset" id="cancel">
                <span>Cancel</span>
            </button>
        </form>
    </section>

    <!--footer of page -->
    <footer>
        <h1> This is footer </h1>
    </footer>
</article>
</body>
</html>